<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5lbj5nttUxLHOO9LCIueyEv8r-pY0Ltc</string>
	<key>GCM_SENDER_ID</key>
	<string>573619670942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Duy-Phan.PAD-Notes</string>
	<key>PROJECT_ID</key>
	<string>pad-notes-87c94</string>
	<key>STORAGE_BUCKET</key>
	<string>pad-notes-87c94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573619670942:ios:2e12929d04b6f8b2d1908f</string>
</dict>
</plist>